@model MuseoDescalzos.Models.Noticia

@{
    ViewData["Title"] = "Editar Noticia";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content flex-grow-1" id="contenido">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title d-flex align-items-center">
             Editar Noticia
            </h5>
        </div>
        <div class="card-body">
            <form asp-action="Edit">
                <div class="form-group">
                    <label asp-for="Titulo"></label>
                    <input asp-for="Titulo" class="form-control" />
                    <span asp-validation-for="Titulo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Descripción"></label>
                    <textarea asp-for="Descripción" class="form-control"></textarea>
                    <span asp-validation-for="Descripción" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Rutalmagen"></label>
                    <input asp-for="Rutalmagen" class="form-control" />
                    <span asp-validation-for="Rutalmagen" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FechaPublicación"></label>
                    <input asp-for="FechaPublicación" class="form-control" />
                    <span asp-validation-for="FechaPublicación" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="IDNoticia" />
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary mr-2">Guardar</button>
                    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>