@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container d-flex flex-column justify-content-center align-items-center vh-100">
    <h1>Bienvenido</h1>
    <p>"Acceso Administrador"</p>
</div>


