@using MUSEO_DE_LOS_DESCALZOS.ViewModel
@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Contraseña";
    Layout = null;
}

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div class="bg-light d-flex flex-column align-items-center justify-content-center vh-100">
    <div class="text-center mb-4">
        <h1 class="fw-bold">Nueva Contraseña</h1>
        <p class="text-muted">Escribe tu nueva contraseña</p>
    </div>
    <div class="card shadow-sm" style="width: 24rem; border: none;">
        <div class="card-body p-5">
            <form id="resetPasswordForm" asp-controller="PasswordResetAdminController" asp-action="SetNewPassword" method="post">
                <input type="hidden" name="Token" value="@Model.Token" />
                <div class="mb-4">
                    <label asp-for="NewPassword" class="form-label">Nueva contraseña:</label>
                    <input type="password" asp-for="NewPassword" class="form-control" required />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="mb-4">
                    <label asp-for="ConfirmPassword" class="form-label">Confirmar nueva contraseña:</label>
                    <input type="password" asp-for="ConfirmPassword" class="form-control" required />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Restablecer contraseña</button>
                </div>
            </form>
            <!-- Mensaje de confirmación -->
            <div id="message" class="mt-4 text-center" style="display:none;">
                <span class="alert alert-success" id="success-message" style="display:none;"></span>
                <span class="alert alert-danger" id="error-message" style="display:none;"></span>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
    $(function () {
        $("#resetPasswordForm").submit(function (event) {
            event.preventDefault();  
            var form = $(this);
            $.ajax({
                url: form.attr('action'),
                type: 'POST',
                data: form.serialize(),
                success: function (response) {
                    if (response.success) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Contraseña reestablecida correctamente',
                            showConfirmButton: true
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = '@Url.Action("Index", "IniciarSesionAdmin")';
                            }
                        });
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: response.message,
                            showConfirmButton: true
                        });
                    }
                },
                error: function () {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Ocurrió un error al restablecer la contraseña.',
                        showConfirmButton: true
                    });
                }
            });
        });
    });
</script>
