@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="container d-flex align-items-center justify-content-center vh-100 mt-5">
    <div class="card w-50 p-6 bg-white shadow-lg rounded-lg" style="color: #000;">
        <h2 class="text-2xl font-bold text-black dark:text-white text-center mb-5 m-4">Recuperar Contraseña</h2>
        <hr class="m-2"/>
        <form method="post" class="m-4">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="mb-4">
                <label asp-for="Input.Email" class="form-label block text-sm font-medium text-zinc-700 dark:text-zinc-300">Email</label>
                <div class="mt-1">
                    <input asp-for="Input.Email" class="form-control block w-100 p-2 border border-zinc-300 rounded-md dark:border-zinc-600 dark:bg-input dark:text-white" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
            </div>
            <div>
                <button type="submit" class="w-100 bg-black text-white p-2 rounded-lg hover:bg-zinc-800">Recuperar Contraseña</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
