@model MuseoDescalzos.Models.Noticia
<style>
    .separator {
      border-top: 1px solid #000;
      margin-bottom: 20px;
    }
</style>
<div class="container mt-5">
    <div class="container mt-5">
        <div class="tienda-header">
            <h3>Noticias @Model.Titulo</h3>
        </div>
        <div class="separator"></div>
        <div class="row"> 
            <div class="col-md-12"> 
                <img src="@Model.Rutalmagen" class="img-fluid align-center" alt="Imagen de noticia" style="width: 900px; height: 300px; object-fit: cover;" /> 
            </div>
            <div class="col-md-12 mt-3">
                <p>@Model.Descripción</p>
            </div>
        </div>
    </div>
</div>

