@model List<MuseoDescalzos.Models.Noticia> 
<style>
    .separator {
      border-top: 1px solid #000;
      margin-bottom: 20px;
    }
</style>
<div class="container mt-5">
    <div class="container mt-5">
        <div class="tienda-header">
            <h3>Noticias</h3>
        </div>
        <div class="separator"></div>
    </div>
    <div class="row">
        @foreach (var noticia in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card shadow-lg">
                    <img src="@noticia.Rutalmagen" class="card-img-top" alt="Noticia" style="max-height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title text-dark">@noticia.Titulo</h5> <!-- Título en negro -->
                        
                        <p class="card-text text-muted" style="font-size: 0.8rem;"><span class="material-symbols-outlined">
calendar_month
</span>@noticia.FechaPublicación.ToString("dd/MM/yyyy")</p>
                        <a href="@Url.Action("DetalleNoticia", "Noticias", new { id = noticia.IDNoticia })" class="btn btn-dark">Leer más</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


